pytest-xdist
pre-commit
flake8
isort
interrogate
black
black[jupyter]
Sphinx
ipykernel
beautifulsoup4
#pandas
requests
requests-cache
tqdm
nbformat
#seaborn
#sympy
#tensorboard
#scipy
#numpy
scikit-optimize
scikit-learn
#altair
#matplotlib
#tensorflow
#keras
#opencv-python
ipywidgets
furo
